pipeline/GetMetaDataTableSAP.json
{
	"name": "GetMetaDataTableSAP",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.table",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy SAP meta to Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "@{concat('TABNAME EQ ''', item(), ''' AND DDLANGUAGE EQ ''EN''')}",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"rfcTableFields": "FIELDNAME, POSITION, DATATYPE, LENG, DECIMALS, KEYFLAG",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FIELDNAME",
												"type": "String",
												"physicalType": "C"
											},
											"sink": {
												"name": "FIELDNAME",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "POSITION",
												"type": "Number",
												"physicalType": "N"
											},
											"sink": {
												"name": "POSITION",
												"type": "Number",
												"physicalType": "Number"
											}
										},
										{
											"source": {
												"name": "DATATYPE",
												"type": "String",
												"physicalType": "C"
											},
											"sink": {
												"name": "DATATYPE",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LENG",
												"type": "String",
												"physicalType": "N"
											},
											"sink": {
												"name": "LENG",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "DECIMALS",
												"type": "String",
												"physicalType": "N"
											},
											"sink": {
												"name": "DECIMALS",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "KEYFLAG",
												"type": "String",
												"physicalType": "C"
											},
											"sink": {
												"name": "KEYFLAG",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": false,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sap_table",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "DD03M",
											"type": "Expression"
										},
										"server_name": {
											"value": "@pipeline().globalParameters.gp_sap_servername",
											"type": "Expression"
										},
										"system_number": {
											"value": "@pipeline().globalParameters.gp_sap_systemnumber",
											"type": "Expression"
										},
										"client_id": {
											"value": "@pipeline().globalParameters.gp_sap_clientid",
											"type": "Expression"
										},
										"language": {
											"value": "@pipeline().globalParameters.gp_sap_language",
											"type": "Expression"
										},
										"user_name": {
											"value": "@pipeline().globalParameters.gp_sap_username",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_DelText_Blob",
									"type": "DatasetReference",
									"parameters": {
										"table_filename": {
											"value": "@concat(item(), '.CSV')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy SAP meta to Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_snowflake",
								"type": "LinkedServiceReference",
								"parameters": {
									"database": {
										"value": "@pipeline().globalParameters.gp_sf_database",
										"type": "Expression"
									},
									"warehouse": {
										"value": "@pipeline().globalParameters.gp_sf_wh_ingest",
										"type": "Expression"
									},
									"role": {
										"value": "@pipeline().globalParameters.gp_sf_role",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('CALL ', pipeline().globalParameters.gp_sf_database, '.PUBLIC.create_table_sql_from_meta( ''', pipeline().globalParameters.gp_sf_database,''', ''SAP_S4H_LSD200'',''', item(), ''');' )",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table": {
				"type": "array",
				"defaultValue": [
					"MARD"
				]
			}
		},
		"variables": {
			"lastdate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MetaData"
		},
		"annotations": []
	}
}