pipeline/pl_mara_changes.json
{
	"name": "pl_mara_changes",
	"properties": {
		"activities": [
			{
				"name": "LookupLastTriggerDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_csv_001",
						"type": "DatasetReference",
						"parameters": {
							"pipeline": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Store Trigger Date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Changes Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "@pipeline().TriggerTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_001",
						"type": "DatasetReference",
						"parameters": {
							"pipeline": {
								"value": "template",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_deltext_exec",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Call Procedure Snowflake",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy Changes Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"database": {
							"value": "@pipeline().globalParameters.gp_sf_database",
							"type": "Expression"
						},
						"warehouse": {
							"value": "@pipeline().globalParameters.gp_sf_wh_ingest",
							"type": "Expression"
						},
						"role": {
							"value": "@pipeline().globalParameters.gp_sf_role",
							"type": "Expression"
						},
						"account_name": {
							"value": "@pipeline().globalParameters.gp_sf_accountname",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('CALL ', pipeline().globalParameters.gp_sf_database,'.PUBLIC.COPY_DATA_FROM_STAGE(''', pipeline().globalParameters.gp_sf_database, ''' ,''SAP_S4H_LSD200'',''', pipeline().parameters.table_name, ''', ''SAP/DEVNL200/MaterialManagement/Material/'');')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy parquet Staging To Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Call Procedure Snowflake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						},
						"deleteFilesAfterCompletion": true
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_parquet_001_table",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": "Staging",
							"DataSource": "SAP",
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": "MaterialManagement",
							"Object": "Material",
							"Table": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_001_table",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": "Archive",
							"DataSource": "SAP",
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": "MaterialManagement",
							"Object": "Material",
							"Table": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete Copied Parquet files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy parquet Staging To Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy parquet Staging To Failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_parquet_001_table",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": "Staging",
							"DataSource": "SAP",
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": "MaterialManagement",
							"Object": "Material",
							"Table": "MARA"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*parquet",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy parquet Staging To Failed",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Call Procedure Snowflake",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						},
						"deleteFilesAfterCompletion": true
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_parquet_001_table",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": "Staging",
							"DataSource": "SAP",
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": "MaterialManagement",
							"Object": "Material",
							"Table": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_001_table",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": "Failed",
							"DataSource": "SAP",
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": "MaterialManagement",
							"Object": "Material",
							"Table": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Changes Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastTriggerDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapTableSource",
						"additionalColumns": [
							{
								"name": "_gxpdf_loaded_at",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"rfcTableOptions": {
							"value": "@concat(pipeline().parameters.ChangeDateColumn, ' GE ''', formatDateTime(activity('LookupLastTriggerDate').output.firstRow.Prop_0, 'yyyyMMdd'), '''')",
							"type": "Expression"
						},
						"customRfcReadTableFunctionModule": "",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sap_table",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.gp_sap_servername",
								"type": "Expression"
							},
							"system_number": {
								"value": "@pipeline().globalParameters.gp_sap_systemnumber",
								"type": "Expression"
							},
							"client_id": {
								"value": "@pipeline().globalParameters.gp_sap_clientid",
								"type": "Expression"
							},
							"language": {
								"value": "@pipeline().globalParameters.gp_sap_language",
								"type": "Expression"
							},
							"user_name": {
								"value": "@pipeline().globalParameters.gp_sap_username",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_001_table",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": {
								"value": "@pipeline().parameters.Zone",
								"type": "Expression"
							},
							"DataSource": {
								"value": "@pipeline().parameters.DataSource",
								"type": "Expression"
							},
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": {
								"value": "@pipeline().parameters.Domain",
								"type": "Expression"
							},
							"Object": {
								"value": "@pipeline().parameters.Object",
								"type": "Expression"
							},
							"Table": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "MARA"
			},
			"ChangeDateColumn": {
				"type": "string",
				"defaultValue": "LAEDA"
			},
			"Zone": {
				"type": "string",
				"defaultValue": "Staging"
			},
			"DataSource": {
				"type": "string",
				"defaultValue": "SAP"
			},
			"Domain": {
				"type": "string",
				"defaultValue": "MaterialManagement"
			},
			"Object": {
				"type": "string",
				"defaultValue": "Material"
			}
		},
		"folder": {
			"name": "PL CDC Table"
		},
		"annotations": []
	}
}