pipeline/pl_mara_changes.json
{
	"name": "pl_mara_changes",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupLastTriggerDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_CDC_SAP_Table",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Zone": "Staging",
						"DataSource": "SAP",
						"Domain": "MaterialManagement",
						"Object": "Material",
						"table": {
							"value": "@pipeline().parameters.table_name",
							"type": "Expression"
						},
						"ChangeDateColumn": "LAEDA",
						"LastExecDate": {
							"value": "@formatDateTime(activity('LookupLastTriggerDate').output.firstRow.Prop_0, 'yyyyMMdd')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LookupLastTriggerDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference",
						"parameters": {
							"pipeline": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Store Trigger Date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "@pipeline().TriggerTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference",
						"parameters": {
							"pipeline": {
								"value": "template",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_deltext_exec",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"database": {
							"value": "@pipeline().globalParameters.gp_sf_warehouse",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('CALL ', pipeline().globalParameters.gp_sf_warehouse,'.PUBLIC.COPY_DATA_FROM_STAGE(''', pipeline().globalParameters.gp_sf_warehouse, ''' ,''SAP_S4H_LSD200'',''', pipeline().parameters.table_name, ''', ''SAP/DEVNL200/MaterialManagement/Material/'');')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*parquet",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						},
						"deleteFilesAfterCompletion": true
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_parquet_001",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": "Staging",
							"DataSource": "SAP",
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": "MaterialManagement",
							"Object": "Material",
							"Table": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_001",
						"type": "DatasetReference",
						"parameters": {
							"EnvStorage": {
								"value": "@pipeline().globalParameters.gp_adls_environment",
								"type": "Expression"
							},
							"Zone": "Archive",
							"DataSource": "SAP",
							"EnvRegSys": {
								"value": "@pipeline().globalParameters.gp_adls_envregsys",
								"type": "Expression"
							},
							"Domain": "MaterialManagement",
							"Object": "Material",
							"Table": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "MARA"
			}
		},
		"folder": {
			"name": "PL CDC Table"
		},
		"annotations": []
	}
}