pipeline/TemplateADF_DataFlowSAP.json
{
	"name": "TemplateADF_DataFlowSAP",
	"properties": {
		"description": "Use this template to replicate multiple tables from SAP to Azure Data Lake Gen2 in Delta format with key partition.",
		"activities": [
			{
				"name": "SAP2DeltaLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SapToDeltaLookupJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SAP2DeltaLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SAP2DeltaLookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "SAP2DeltaDataflow",
							"description": "Replicate data from sap table(sap_context, sap_object, sap_key_columns) and write to gen2 storage(sink_container, sink_folder) in delta format with key partition(partition key column)",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SAP2DeltaTemplateDataflow",
									"type": "DataFlowReference",
									"parameters": {
										"sapContext": {
											"value": "'@{item().sapContext}'",
											"type": "Expression"
										},
										"sapObjectName": {
											"value": "'@{item().sapObjectName}'",
											"type": "Expression"
										},
										"sapKeyColumns": {
											"value": "@item().sapKeyColumns",
											"type": "Expression"
										},
										"deltaContainer": {
											"value": "'@{item().deltaContainer}'",
											"type": "Expression"
										},
										"deltaFolder": {
											"value": "'@{item().deltaFolder}'",
											"type": "Expression"
										},
										"deltaPartition": {
											"value": "'@{item().deltaPartition}'",
											"type": "Expression"
										},
										"deltaKeyColumns": {
											"value": "@item().deltaKeyColumns",
											"type": "Expression"
										},
										"sapPartitions": {
											"value": "'@{string(item().sapPartitions)}'",
											"type": "Expression"
										},
										"sapRunMode": {
											"value": "'@{item().sapRunMode}'",
											"type": "Expression"
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "AzureDataLakeStorage1",
										"type": "LinkedServiceReference"
									},
									"folderPath": {
										"value": "@item().stagingStorageFolder",
										"type": "Expression"
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine",
								"continuationSettings": {
									"customizedCheckpointKey": {
										"value": "@item().checkPointKey",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Template"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-17T07:21:10Z"
	}
}